@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  /* font-size: 20px; */
  /* max-width: 100%; */
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  /* background-color: rgb(249, 240, 240); */
  color: black;
}

header{
  width: 100%;
}

h1.log {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 30px;
}

header nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(239, 159, 11, 0.936);
  position: static;
  justify-content: space-evenly;
  padding: 10px 20px;
}

header nav ul{
  display: flex;
 
  list-style: none;
}

header nav ul li{
  padding: 5px 10px;
}

header nav ul li a{
  color: white;
}

main {
  padding: 20px;
}

main h3, span {
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
}

main p {
  text-align: left;
}

#services{
  text-align: center;
  padding-top: 20px;
  font-size: x-large;
  font-weight: 600;
}

.column{
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.column img{
  border-radius: 50px;
}

.column p{
  text-align: center;
  padding-top: 150px;
}

.border{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(245, 245, 245, 0.827);
  padding: 20px;
  border-radius: 20px;
  max-width: 400px;
  /* border: solid red; */
}

.lang {
  display: flex;
  gap: 10px;
}

.lang li {
  color: rgba(239, 159, 11, 0.936);
}

.border a img {
  max-width: 100%;
}

a.card-title {
  font-size: 28px;
  color: rgba(239, 159, 11, 0.936);
  padding: 10px 0;
}

.full{
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
  gap: 30px;
}

footer{
  width: 100%;
}

footer form{
  margin: 0 10px;
  max-width: 400px;
 display: flex;
 flex-direction: column;
 padding: 20px;
 border: 1px solid black;
 border-radius: 50px;
 padding: 20px;
}

footer h4{
  padding: 30px;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  color: rgba(239, 159, 11, 0.936);
}

form div{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.input{
  border-radius: 10px;
  padding: 8px;
}

label{
  color: rgba(239, 159, 11, 0.936);
}

.button{
  margin: 1 auto;
  padding: 1px;
}

#btn{
  padding: 8px;
  color: red;
  border-radius: 10px;
  font-size: 15px;
}

@media screen and (min-width: 426px){
  .border{
    align-items: center;
  }

  .full {
    align-items: center;
  }

  footer form{
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px){
  header nav{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
  }

  main{
    padding: 50px 100px ;
  }

  .border{
    align-items: center;
  }

  .full {
    flex-direction: row;
    justify-content: flex-start;
  }

  footer form{
    margin: 0 auto;
  }
  
}

@media screen and (min-width: 1024px){
  .services {
    font-size: x-large;
  }

  .border{
    align-items: center;
    padding: 20px 10px;
  }

  main {
    padding: 40px;
  }
  
  main h3, span {
    font-size: 68px;
    font-weight: 600;
    line-height: 65px;
  }
  
  main p {
    text-align: left;
    font-size: 38px;
  }

  .full p{
    font-size: 26px;
  }

  header nav{
    padding: 20px 30px;
  }

  nav a:hover{
    color:  black;
  }

  footer form{
    margin: 20 auto;
    max-width: 600px;
   display: flex;
   flex-direction: column;
   padding: 10px;
   border: 1px solid black;
   border-radius: 50px;
   
  }
  footer h4{
    padding: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: x-large;
  }
  form div{
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 350px;
    margin: 0 auto;
  }

  .input{
    border-radius: 10px;
    padding: 12px;
  }

  .button{
    margin: 1 auto;
    padding: 1px;
  }
  
  #btn{
    /* padding: 15px; */
    color: red;
    border-radius: 10px;
    font-size: 15px;
    margin: 0 auto;
  }
}