@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap');

*{
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  /* font-size: 20px; */
  /* max-width: 100%; */
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  /* background-color: rgb(249, 240, 240); */
  color: black;
}

header{
  width: 100%;
  position: fixed;
}

h1.log {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 30px;
  color: black;
}

header nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(239, 159, 11, 0.936);
  justify-content: space-between;
  padding: 10px 20px;
}

header ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: white;
  height: 100vh;
  width: 350px;
  padding-top: 100px;
  font-size: 24px;
  gap: 20px;
  z-index: 1000;
  list-style: none;
  position: absolute;
  transition: all 0.7s ease-in-out;
  left: -100%;
}

header ul li a{
  color: rgba(239, 159, 11, 0.936);
}

header ul.active {
  left: 0;
}

.bx-menu {
  font-size: 30px;
}

header nav ul li{
  padding: 5px 10px;
}

header nav ul li a{
  color: white;
}

.hamburger{
  display: block;
  cursor: pointer;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: white;

}

main {
  padding: 20px;
}

main h3, span {
  font-size: 48px;
  font-weight: 600;
  line-height: 65px;
  padding-top: 70px;
}

main p {
  text-align: left;
}

.bgc{
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  background-color: rgba(239, 159, 11, 0.936);
  margin: 10px 0;
}

.column{
  display: flex;
  justify-content: space-around;
  padding: 50px;
}

.column img{
  border-radius: 50px;
}

.column p{
  text-align: center;
  padding-top: 150px;
}

.border{
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: rgba(245, 245, 245, 0.827);
  padding: 20px;
  border-radius: 20px;
  max-width: 400px;
  /* border: solid red; */
}

.lang {
  display: flex;
  gap: 10px;
}

.lang li {
  color: rgba(239, 159, 11, 0.936);
}

.border a img {
  max-width: 100%;
}

a.card-title {
  font-size: 28px;
  color: rgba(239, 159, 11, 0.936);
  padding: 10px 0;
}

.full{
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
  gap: 30px;
}

footer{
  /* width: 100%; */
  padding: 20px;
}

footer form{
  margin: 0 10px;
  max-width: 400px;
 display: flex;
 flex-direction: column;
 padding: 20px;
 border-radius: 20px;
 padding: 20px;
}

footer h4{
  color: white;
  padding: 10px 0;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
  background-color: rgba(239, 159, 11, 0.936);
  margin: 10px 0;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(245, 245, 245, 0.827);
  border: none;
  /* padding: 30px; */
}

form .frm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input{
  border-radius: 10px;
  padding: 8px;
}

label{
  color: rgba(239, 159, 11, 0.936);
}

.button{
  padding: 1px;
  /* text-align: right; */
  /* align-self: center; */
}

#btn{
  padding: 8px;
  color: rgba(239, 159, 11, 0.936);
  border-radius: 10px;
  font-size: 15px;
}

@media screen and (min-width: 426px){
  .border{
    align-items: center;
  }

  .full {
    align-items: center;
  }

  footer form{
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px){
  header nav{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 100px;
  }

  main, footer{
    padding: 50px 100px ;
  }

  .border{
    align-items: center;
  }

  .full {
    flex-direction: row;
    justify-content: flex-start;
  }

  footer form{
    margin: 0 auto;
  }
  
}

@media screen and (min-width: 1024px){
  .services {
    font-size: x-large;
  }

  .border{
    align-items: center;
    padding: 20px 10px;
  }

  main, footer {
    padding: 40px;
  }
  
  main h3, span {
    font-size: 68px;
    font-weight: 600;
    line-height: 65px;
  }
  
  main p {
    text-align: left;
    font-size: 38px;
  }

  .full p{
    font-size: 26px;
  }

  header nav{
    padding: 20px 30px;
  }

  nav a:hover{
    color:  black;
  }

  footer h4{
    padding: 30 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: x-large;
  }
  form {
    padding: 10px 70px;
  }

  .input{
    border-radius: 10px;
    padding: 12px;
  }

  .button{
    margin: 1 auto;
    padding: 1px;
  }
  
  #btn{
    /* padding: 15px; */
    color: red;
    border-radius: 10px;
    font-size: 15px;
    margin: 0 auto;
  }
}